@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/dist/tailwind.css'; */

@layer utilities {
    .card.image-full::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* @apply bg-gradient-to-r from-base-100 to-base-300; */
        @apply bg-base-300;
        /* background-color: black; */
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .card.image-full:hover::before {
        opacity: 0.7;
    }
}